
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*Base styles*/

body {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 400;

  min-width: 320px;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
/*
img {
  width: 100%;
  height: auto;
}
*/
a {
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}


h1 {
  margin: 0;
  padding: 0;
  margin-top: 0.05em;

  font-family: "Poppins", Arial, sans-serif;

  font-size: 108px;
  line-height: 108px;
  font-style: normal;
  font-weight: normal;

  text-align: center;
  letter-spacing: -5px;
  color: #FF9DAF;
}

h1 span {
  font-family: "Merriweather", Arial, sans-serif;
  font-size: 108px;
  line-height: 108px;
  font-style: normal;
  font-weight: normal;
  font-style: italic;
  letter-spacing: -5px;
  color: #FFD850;
}

strong {
  font-size: 18px;
  line-height: 27px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;

  color: #FFFFFF;
}

h2 {
 margin-top: 100px;
 margin-bottom: 25px;

 font-family: "Poppins", Arial, sans-serif;
 font-style: normal;
 font-weight: normal;
 font-size: 72px;
 line-height: 82px;
 letter-spacing: -3px;

 color: #000000;
}

h2 span {
  color: #FF6838;
}

h3 {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: -1px;
  color: #FFFFFF;
}

h4 {
  margin: 30px 0;

  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.8px;
  color: #000000;
}

p {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.2px;
  color: rgba(0, 0, 0, 0.5);
}

.navbar .nav-link {
  margin-right: 15px;
  padding: 6px 13px !important;

  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.2px;
  color: rgba(255, 255, 255, 0.5) !important;

  border-radius: 5px;
  cursor: pointer;
}

.navbar .first-item {
  margin-left: auto;
}

.navbar .nav-link-last {
  margin-right: 0;

  color: #FFFFFF !important;
  background-color: #6AC75A !important;
}

.navbar {
  padding: 24px 24px 0 30px;
}

/*Header wrapper-container*/
.jumbotron {
  margin: 0;
  height: 100vh;

  position: relative;
  background-color: #372E6C;
  border-radius: 0;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
 position: absolute;
 top: 0;
 width: 100%;
}

header .navbar-nav {
  width: 100%;
}

header .bg-white {
  background-color: transparent !important;
}

header .navbar-toggler {
  background-color: #F8F8F8 !important;
}

/*header-buttons*/

.header-buttons {
  margin-top: 1.5em;
}

.header-buttons .btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 15px 17px;
  max-width: 176px;

  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;

  text-align: center;
  letter-spacing: -0.4px;
  color: #FFFFFF;
  border-radius: 5px;
}

.header-buttons .btn:hover {
  color: #FFFFFF;
}

.header-buttons .btn-orange {
  background-color: #FF6838
}

.header-buttons .btn-grey {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.scroll-link {
  display: block;
  position: absolute;

  width: 22px;
  height: 13px;

  bottom: 20px;
  left: 50%;

  margin-left: -11px;

  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;

  font-size: 0;
}

/*main*/
/*promo*/

.promo {
  width: 100%;
}

.promo .inner {
  /*
  display: flex;
  align-items: center;
  justify-content: center;
  */
  width: 50%;
  height: 700px;
  position: relative;
  overflow: hidden;
}

.inner-dark {
  background-color: #000000;
  /*
  background-image: url("../img/promo-layout-1.png");
  background-size: 1280px 910px;
  background-position: center;
  background-position-y: -50%;
  background-repeat: no-repeat;
  */
}

.inner-white {
  background-color: #F8F8F8;
  /*
  background-image: url("../img/promo-layout-2.png");
  background-size: 1150px 782px;
  background-position: center;
  background-position-y: -70%;
  background-repeat: no-repeat;
  */
}

.inner {
  position: relative;
}

.inner img {
  position: absolute;
}

.inner-dark img {
 top: -5px;
 left: -240px;
}

.inner-white img {
 top: 50px;
 left: -305px;
}

.promo .inner h3 {
  position: absolute;
  top: 40px;
  left: 40px;
}

.inner-white h3 {
  color: #000000;
}

.inner-dark h3 {
  color: #FFFFFF;
}

/*advantages*/

.advantages {
  padding-bottom: 370px;
}

.advantages img {
  width: auto;
}

.advantages strong {
 margin-top: 25px;

 font-family: "Poppins", Arial, sans-serif;
 font-style: normal;
 font-weight: normal;
 font-size: 24px;
 line-height: 36px;
 text-align: center;
 letter-spacing: -0.8px;
 text-transform: none;
 color: #000000;
}

.row-list {
  padding-top: 62px;
}

.row-list .row-item {
  margin-bottom: 80px;
}

.row-list .row-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.advantages .btn {
 padding: 15px 25px 15px 24px;
 margin-top: 70px;

 font-family: "Poppins", Arial, sans-serif;
 font-style: normal;
 font-weight: normal;
 font-size: 20px;
 line-height: 30px;
 text-align: center;
 letter-spacing: -0.4px;
 color: #FFFFFF;

 background-color: #6AC75A;
 border-radius: 5px;
}

/*customization*/
.customization {
  background-color: #783BFF;
}

.customization p {
  color: rgba(255, 255, 255, 0.6);
}

.customization .large-img {
  margin-top: -270px;
}

.customization .small-img {
  margin-top: 80px;
  margin-bottom: -128px;
}

.customization img {
  width: 100%;
  height: auto;
}

/*layouts*/
.layouts {
  min-height: 1820px;

  background-image: url("../img/large-bg.png");
  background-repeat: no-repeat;
  overflow: hidden;
  background-position-y: 60px;
  background-position-x: -600px;
  background-color: #E8E5EF
}

/*board*/

.board .price {
  width: 100%;
  padding: 19px 0;

  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  text-align: center;

  letter-spacing: -2px;
  color: #000000;

  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.board .price span {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.4px;
}

.board  .plans > .plan .content {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.board .plans {
  margin-top: 58px;
  margin-bottom: 100px;
}

.board .first-plan {
  position: relative;
}

.board .first-plan:after {
  content: '';
  position: absolute;
  top: 25px;
  right: 0px;

  width: 1px;
  height: 520px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/divider.png");
}

.board .plan {
  min-height: 570px;

  padding: 0 30px;
}

.board .plan-wrapper {
  width: 100%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.board .list-group {
  padding-top: 31px;

  display: flex;
  flex-direction: column;
  width: 100%;
}

.board .list-group-item {
  padding: 0 20px;
  padding-bottom: 15px;

  position: relative;

  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;

  letter-spacing: -0.4px;
  color: #000000;
  border: none;
}

.board .list-group-item:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 2px;

  width: 14px;
  height: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/ok.svg");
}

.board .plans .content {
  min-width: 350px;
  padding: 0 25px;
  padding-bottom: 25px;
  height: 100%;
}

.board .plans .col-lg-8 .content {
  min-width: 365px;
}

.board .btn {
  margin-top: auto;
  padding: 15px 28px;

  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.4px;
  color: #9250FF;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.board .btn:hover,
.board .btn:active {
  background: #9250FF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
}

/*bonus pack*/

.bonus-pack {
  background-color: #000000;
}

.bonus-pack p {
  color: rgba(255, 255, 255, 0.6);
}

.bonus-pack img {
  width: 100%;
  height: auto;
}

.bonus-pack .content {
  padding-top: 100px;

  flex-direction: column;
}

.bonus-pack h2 {
  margin-top: 60px;
}

.bonus-pack .large-img {
  margin-top: 80px;
  margin-bottom: -260px;
}

.bonus-pack .col-lg-8 {
  max-width: 870px;
}

.bonus-pack  .btn {
  padding: 15px 24px 15px 23px;
  margin-top: 80px;
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.4px;
  color: #FFFFFF;
  background-color: #6AC75A;
  border-radius: 5px;
}

/*VIEWPORTS*/


@media only screen and (max-width: 1400px) {

 h1 {

  font-family: "Poppins", Arial, sans-serif;
  font-size: 100px;
  line-height: 95px;
}

h1 span {
  font-family: "Merriweather", Arial, sans-serif;
  font-size: 100px;
  line-height: 95px;
}

/*
.header-buttons {
  margin-top: 40px;
  }*/

  .header-buttons .btn {
    padding: 12px 9px;
    /*max-width: 160px;*/
  /*
  font-size: 17px;
  line-height: 25px;
  */
}

}

@media only screen and (max-width: 1200px) {

  h1 {
    font-size: 85px;
    line-height: 85px;
  }

  h1 span {
    font-size: 85px;
    line-height: 85px;
  }

  strong {
   font-size: 16px;
   line-height: 25px;
 }

 .header-buttons .btn {
  max-width: 150px;
  font-size: 17px;
  line-height: 19px;
}

.advantages strong {
  margin-top: 20px;

  font-size: 20px;
  line-height: 31px;
}

.customization .large-img {
  margin-top: -200px;
}

.customization .small-img {
  margin-bottom: -100px;
}

.advantages .btn {
  font-size: 17px;
}

.board .plans .content {
  min-width: 310px;
}

.board .plans .col-lg-8 .content {
  min-width: 315px;
}

.board .btn {
  padding: 15px 21px;
  font-size: 18px;
}

}

@media screen and (max-width: 991px) {

  h1 {
    font-size: 70px;
    line-height: 70px;
  }


  h1 span {
    font-size: 70px;
    line-height: 70px;
  }

  strong {
   font-size: 14px;
   line-height: 23px;
 }

 h2 {
  margin-top: 75px;
  margin-bottom: 25px;

  font-size: 60px;
  line-height: 72px;
}

h3 {
  font-size: 32px;
  line-height: 50px;
}

.header-buttons .btn {
  max-width: 105px;
  padding: 12px 7px;

  font-size: 14px;
  line-height: 19px;
}

.row-list .row-item {
  padding: 0 40px !important;
  margin-bottom: 50px;
}

.row-list {
  padding-top: 40px;
}

.advantages {
  padding-bottom: 320px;
}

.small-img .col-md-6 {
  margin-bottom: 30px;
}

.small-img .col-md-6:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.navbar .first-item {
  margin-left: 0;
}

.navbar {
  padding-top: 10px;
}

.navbar .nav-link {
  margin-right: 0;
}

header .navbar-nav {
  align-items: flex-start;
}

.navbar .nav-link {
  width: 110px;
  padding: 4px 8px !important;

  font-size: 15px;
  line-height: 21px;
}

.board .plans {
  margin-top: 50px;
  margin-bottom: 60px;

  flex-direction: column;
}

.board .btn {
  font-size: 20px;
}

.board .plan {
  min-height: auto;
  margin-bottom: 60px;
}

.board .col-lg-8 + .plan {
  margin-bottom: 0;
}

.board .plan-wrapper {
  flex-direction: column;
  border: none;
}

.board .first-plan:after {
  display: none;
}

.board .plans .col-lg-8 .content {
  min-height: 500px;
  width: 100%;
  max-width: 590px;
}

.board .plans .content {
  min-height: 500px;
  width: 100%;
  max-width: 590px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.bonus-pack .large-img {
  margin-bottom: -100px;
}

}

@media screen and (max-width: 767px) {

 h1 {
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -2px;
}


h1 span {
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -2px;
}

h2 {
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 58px;
  line-height: 68px;
}

.promo .inner h3 {
  top: 40px;
  left: 40px;
}

.header-buttons .btn {
  max-width: 78px;

  padding: 6px;
}


/*
.header-buttons .btn:nth-child(2) {
  margin-top: 15px;
}
*/
.promo {
  flex-direction: column;
}

.promo .inner {
  display: flex;
  justify-content: center;

  width: auto;
}

.scroll-link {
  display: none;
}

.advantages {
  padding-bottom: 250px;
}

.customization .large-img {
  margin-top: -100px;
}

.customization .small-img {
  margin-top: 60px;
}

.board .plan {
  padding-right: 15px;
  padding-left: 15px;

  min-height: 500px;
}

.board .col-lg-8 {
  padding: 0;
}

}

@media only screen and (max-width: 767px) {


}

@media screen and (max-width: 720px) {


}

@media screen and (max-width: 575px) {

  h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 60px;
  }

  .nav .nav-link {
    padding: 3px 13px;
    font-size: 16px;
    line-height: 21px;
  }

  .nav .nav-link-last {
    padding: 6px 13px;
  }

  .nav  {
    flex-direction: column;

    padding: 10px 50px;
  }

  .nav .nav-link {
    margin-right: 0;
  }

  .nav-item {
    margin-left: 0 !important;
  }
  /*
  .header-buttons {
    flex-direction: column;
    align-items: center;
}

  .header-buttons .btn {
    max-width: 45%;

    padding: 6px 13px;
    font-size: 16px;
    line-height: 24px;
  }

  .header-buttons .btn:nth-child(2) {
    margin-top: 5px;
  }
  */

  .header-buttons .btn {
    max-width: 75px;
  }

  .layouts {
    min-height: 1600px;

    background-position-y: -100px;
  }
}

@media screen and (max-width: 510px) {

  h1 {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1px;
  }


  h1 span {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1px;
  }

  .header-buttons {
    flex-direction: column;
    align-items: center;
  }

  .header-buttons .btn {
    max-width: 100% !important;

    padding: 6px;
    font-size: 13px;
    line-height: 24px;
  }

  .header-buttons .btn:nth-child(2) {
    margin-top: 5px;
  }

}

@media screen and (max-width: 475px) {

  h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -2px;
  }

  .customization .small-img {
    margin-top: 40px;
  }


}

@media screen and (max-width: 425px) {

 h1 {
  font-size: 35px;
  line-height: 35px;
  letter-spacing: -1px;
}


h1 span {
  font-size: 35px;
  line-height: 35px;
  letter-spacing: -1px;
}

.row-list .row-item {
  padding: 0 10px !important;
}

.advantages strong {
  font-size: 18px;
  line-height: 31px;
}

}

@media screen and (max-width: 410px) {


}

@media only screen and (max-width: 380px) {


}

@media only screen and (max-width: 375px) {

 h2 {
  margin-top: 30px;

  font-size: 32px;
  line-height: 42px;
}

}

@media only screen and (max-width: 345px) {

}
