
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*Base styles*/

body {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 400;

  min-width: 320px;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  pointer-events: none;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

strong {
  font-weight: normal;
}


h1 {
  margin: 0;
  padding: 0;
  margin-top: 31px;

  font-family: "Poppins", Arial, sans-serif;

  font-size: 108px;
  line-height: 108px;
  font-style: normal;
  font-weight: normal;

  text-align: center;
  letter-spacing: -5px;
  color: #FF9DAF;
}

h1 span {
  font-family: "Merriweather", Arial, sans-serif;
  font-size: 108px;
  line-height: 108px;
  font-style: normal;
  font-weight: normal;
  font-style: italic;
  letter-spacing: -5px;
  color: #FFD850;
}

strong {
  font-size: 18px;
  line-height: 27px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;

  color: #FFFFFF;
}

h2 {
 margin-top: 100px;
 margin-bottom: 25px;

 font-family: "Poppins", Arial, sans-serif;
 font-style: normal;
 font-weight: normal;
 font-size: 72px;
 line-height: 82px;
 letter-spacing: -3px;

 color: #000000;
}

h2 span {
  color: #FF6838;
}

h3 {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: -1px;
  color: #FFFFFF;
}

h4 {
  margin: 30px 0;

  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.8px;
  color: #000000;
}

p {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.2px;
  color: rgba(0, 0, 0, 0.5);
}

.navbar .nav-link {
  margin-right: 15px;
  padding: 0 13px !important;

  height: 36px;

  font-size: 16px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -0.2px;
  color: rgba(255, 255, 255, 0.5) !important;

  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus,
.navbar .nav-link:active {
  color: rgba(255, 255, 255, 1) !important;
}

.navbar .first-item {
  margin-left: auto;
}

.navbar .nav-link-last {
  margin-right: 0;

  color: #FFFFFF !important;
  background-color: #6AC75A;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navbar .nav-link-last:hover,
.navbar .nav-link-last:focus,
.navbar .nav-link-last:active {
  background-color: #4EB23C;
}

.navbar {
  padding: 30px;
}

/*Header wrapper-container*/
.jumbotron {
  margin: 0;
  height: 100vh;

  position: relative;
  background-color: #372E6C;
  border-radius: 0;

  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header {
 position: absolute;
 top: 0;
 width: 100%;
}

header .navbar-nav {
  width: 100%;
}

header .bg-white {
  background-color: transparent !important;
}

header .navbar-collapse {
  z-index: 100;
}

header .navbar-toggler {
  position: relative;
  border: none;
  outline: none;
}

header .hidden:before,
header .navbar-toggler:before {
  content: '';
  position: absolute;

  top: 5px;
  left: 5px;

  width: 30px;
  height: 2px;
  background-color: #ffffff;
}


header .navbar-toggler:after {
  content: '';
  position: absolute;

  top: 15px;
  right: -5px;

  width: 15px;
  height: 2px;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


header .hidden:after {
  content: '';
  position: absolute;

  top: 15px;
  left: 5px;

  width: 30px;
  height: 2px;
  background-color: #ffffff;
}

/*header-buttons*/

.header-buttons {
  margin-top: 59px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header-buttons .btn-wrapper {
  max-width: 170px;
}

.header-buttons .btn-wrapper:first-child {
  margin-right: 15px;
}

.header-buttons .btn {
  padding: 0;
  height: 60px;
  /*max-width: 176px;*/

  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 62px;

  text-align: center;
  letter-spacing: -0.4px;
  color: #FFFFFF;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header-buttons .btn-orange {
  background-color: #FF6838;
}

.header-buttons .btn-orange:hover,
.header-buttons .btn-orange:focus,
.header-buttons .btn-orange:active {
  background-color: #FF4105;
}

.inner-page .header-buttons .btn-wrapper {
  margin-right: 0;
}

.header-buttons .btn-grey {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.header-buttons .btn-grey:hover,
.header-buttons .btn-grey:focus,
.header-buttons .btn-grey:active {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.scroll-link {
  display: block;
  position: absolute;

  width: 22px;
  height: 13px;

  bottom: 30px;
  left: 50%;

  margin-left: -11px;

  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;

  font-size: 0;
}

/*main*/
/*promo*/

.promo {
  width: 100%;
}

.promo .inner {
  /*
  display: flex;
  align-items: center;
  justify-content: center;
  */
  width: 50%;
  height: 700px;
  position: relative;
  overflow: hidden;
}

.inner-dark {
  background-color: #000000;
  /*
  background-image: url("../img/promo-layout-1.png");
  background-size: 1280px 910px;
  background-position: center;
  background-position-y: -50%;
  background-repeat: no-repeat;
  */
}

.inner-white {
  background-color: #F8F8F8;
  /*
  background-image: url("../img/promo-layout-2.png");
  background-size: 1150px 782px;
  background-position: center;
  background-position-y: -70%;
  background-repeat: no-repeat;
  */
}

.inner {
  position: relative;
}

.inner img {
  position: absolute;
}

.inner-dark img {
 top: -5px;
 left: -240px;
}

.inner-white img {
 top: 50px;
 left: -305px;
}

.promo .inner {
  padding: 40px;
  padding-right: 12px;
}

.inner-white h3 {
  color: #000000;
}

.inner-dark h3 {
  color: #FFFFFF;
}

/*advantages*/

.advantages {
  padding-bottom: 370px;
}

.advantages img {
  width: auto;
}

.advantages strong {
 margin-top: 25px;
 max-width: 235px;
 padding: 0 6px;

 font-family: "Poppins", Arial, sans-serif;
 font-style: normal;
 font-weight: normal;
 font-size: 24px;
 line-height: 36px;
 text-align: center;
 letter-spacing: -0.8px;
 text-transform: none;
 color: #000000;
}

.row-list {
  padding-top: 62px;
}

.row-list .row-item {
  margin-bottom: 80px;
}

.row-list .row-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.advantages .btn {
 padding: 0 25px;
 margin-top: 70px;
 height: 60px;

 font-family: "Poppins", Arial, sans-serif;
 font-style: normal;
 font-weight: normal;
 font-size: 20px;
 line-height: 62px;
 text-align: center;
 letter-spacing: -0.4px;
 color: #FFFFFF;

 background-color: #6AC75A;
 border-radius: 5px;
 -webkit-transition: all 0.2s ease-in-out;
 -o-transition: all 0.2s ease-in-out;
 transition: all 0.2s ease-in-out;
}

.advantages .btn:hover,
.advantages .btn:focus,
.advantages .btn:active {
  background-color: #4EB23C;
}

/*customization*/
.customization {
  background-color: #783BFF;
}

.customization p {
  color: rgba(255, 255, 255, 0.6);
}

.customization .large-img {
  margin-top: -270px;
}

.customization .small-img {
  margin-top: 80px;
  margin-bottom: -128px;
}

.customization img {
  width: 100%;
  height: auto;
}

/*layouts*/
.layouts {
  min-height: 1820px;

  background-image: url("../img/large-bg.png");
  background-repeat: no-repeat;
  overflow: hidden;
  background-position-y: 60px;
  background-position-x: -600px;
  background-color: #E8E5EF
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .layouts {
    background-image: url("../img/large-bg@2x.png");
    background-size: 2593.44px, 2569.56px;
  }
}

/*board*/

.board .price {
  width: 100%;
  padding: 19px 0;

  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  text-align: center;

  letter-spacing: -2px;
  color: #000000;

  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.board .price span {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.4px;
}

.board  .plans > .plan .content {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.board .plans {
  margin-top: 58px;
  margin-bottom: 100px;
}

.board .first-plan {
  position: relative;
}

.board .first-plan:after {
  content: '';
  position: absolute;
  top: 25px;
  right: 0px;

  width: 1px;
  height: 520px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/divider.png");
}

.board .plan {
  min-height: 570px;
}

.board .plan-wrapper {
  width: 100%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.board .list-group {
  padding-top: 31px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.board .list-group-item {
  padding: 0 20px;
  padding-bottom: 15px;

  position: relative;

  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;

  letter-spacing: -0.4px;
  color: #000000;
  border: none;
}

.board .list-group-item:before {
  content: '';
  position: absolute;
  top: 4px;
  left: -4px;

  width: 14px;
  height: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/ok.svg");
}

.board .plans .content {
  min-width: 350px;
  padding: 0 25px;
  padding-bottom: 25px;
  height: 100%;
}

.board .plans .col-lg-8 .content {
  min-width: 365px;
}

.board .btn {
  margin-top: auto;
  padding: 0 20px;
  height: 60px;

  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 62px;
  text-align: center;
  letter-spacing: -0.4px;
  color: #9250FF;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.board .btn:hover,
.board .btn:active {
  background: #9250FF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
}

/*bonus pack*/

.bonus-pack {
  padding-bottom: 165px;

  background-color: #000000;
}

.bonus-pack p {
  padding: 0 40px;

  color: rgba(255, 255, 255, 0.6);
}

.bonus-pack img {
  width: 100%;
  height: auto;
}

.bonus-pack .content {
  padding-top: 100px;

  -webkit-box-orient: vertical;

  -webkit-box-direction: normal;

  -ms-flex-direction: column;

  flex-direction: column;
}

.bonus-pack h2 {
  margin-top: 60px;
}

.bonus-pack .large-img {
  margin-top: 70px;
  margin-bottom: -500px;
}

.bonus-pack .col-lg-8 {
  max-width: 870px;
}

.bonus-pack  .btn {
  padding: 0 20px;
  margin-top: 50px;

  max-width: 230px;
  height: 60px;

  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 62px;
  text-align: center;
  letter-spacing: -0.4px;
  color: #FFFFFF;
  background-color: #6AC75A;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.bonus-pack .btn:hover,
.bonus-pack .btn:focus,
.bonus-pack .btn:active {
 background-color: #4EB23C;
}

/*subscribe*/

.subscribe {
  padding-top: 420px;
  padding-bottom: 65px;
}

.subscribe .form-row {
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.subscribe .form-control {
  padding: 12px;
  width: 100%;
  max-width: 331px;
  height: 50px;

  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 54px;
  letter-spacing: -0.4px;

  color: #000000;

  background-color: #F5F5F5;
  border-radius: 5px;
  border: none;
}

.subscribe .form-control::-webkit-input-placeholder {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.4px;

  color: rgba(0, 0, 0, 0.3);
}

.subscribe .form-control::-moz-placeholder {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.4px;

  color: rgba(0, 0, 0, 0.3);
}

.subscribe .form-control:-ms-input-placeholder {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.4px;

  color: rgba(0, 0, 0, 0.3);
}

.subscribe .form-control::-ms-input-placeholder {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.4px;

  color: rgba(0, 0, 0, 0.3);
}

.subscribe .form-control::placeholder {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.4px;

  color: rgba(0, 0, 0, 0.3);
}

.subscribe .btn {
  padding: 0 12px;
  height: 50px;
  max-width: 199px;

  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 52px;
  text-align: center;
  letter-spacing: -0.4px;
  color: #FFFFFF;
  background-color: #9250FF;
  border-radius: 5px;

  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.subscribe .btn:hover,
.subscribe .btn:focus,
.subscribe .btn:active {
 background-color: #721DFF;
}

.subscribe .large-article {
  margin-bottom: 36px;

  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
  letter-spacing: -1.4px;

  color: #000000;
}

.subscribe .small-article {
  margin-top: 36px;

  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.2px;
  color: rgba(0, 0, 0, 0.4);
}

/*footer*/
.company-descr {
  margin: 0;
  margin-top: 20px;
  padding: 0;

  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: #000000;
  mix-blend-mode: normal;
}

@media screen and (max-width: 765px) {
  .company-descr {
    margin-bottom: 60px;
    padding-right: 20px;
  }
}

.company:nth-child(2) {
  max-width: 215px;
}

.company:nth-child(3) {
  max-width: 140px;
}

.company:last-child {
  margin-left: 30px;
  max-width: 215px;
}

.company-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.company-item a {
  display: block;
  margin-bottom: 15px;

  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;

  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;

  -webkit-transition: all 0.2s ease;

  -o-transition: all 0.2s ease;

  transition: all 0.2s ease;
}

.company-item a:hover,
.company-item a:focus,
.company-item a:active {
  color: rgba(0, 0, 0, 1);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.company-item-first a {
 font-family: "Poppins", Arial, sans-serif;
 font-style: normal;
 font-weight: 500;
 font-size: 18px;
 line-height: 27px;

 letter-spacing: -0.4px;
 color: #000000;
}

footer .container:first-child > div {
  border-top: 1px solid #DFE4EA;
  padding-top: 40px;
}

footer .col-lg-8 {
  margin-left: auto;
}

.footer-right-section .col-lg-4:first-child {
  padding-left: 30px;
}

@media screen and (max-width: 975px) {
  .footer-right-section .col-lg-4:first-child {
    padding-left: 15px;
  }
}
 /*
.footer-right-section .col-lg-3,
.footer-right-section .col-lg-2 {
  padding: 0;
}
*/
/*
.footer-right-section .col-lg-2 {
  padding-left: 10px;
}

.footer-right-section .col-lg-2:last-child  {
  padding-left: 35px;
}
*/
@media screen and (max-width: 975px) {
  .footer-right-section .col-lg-4,
  .footer-right-section .col-lg-3,
  .footer-right-section .col-lg-2 {
    margin-bottom: 40px;
  }

  .footer-right-section .col-lg-2 {
    padding-left: 15px;
  }

  .footer-right-section .col-lg-2:last-child  {
    padding-left: 15px;
  }
}

@media screen and (max-width: 575px) {
  .footer-right-section .col-lg-2 {
    padding-left: 0;
  }
}

.copyright-text {
  margin: 0;
  margin-top: 35px;
  margin-bottom: 30px;
  padding: 0;

  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.2px;
  color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 575px) {
  .copyright-text{
    text-align: center;
  }
}

footer .company-link> img {
  width: 137px;
  height: 36px;
}

@media screen and (max-width: 575px) {
  /*
  footer .col-sm-6 {
    text-align: center;
    padding: 0 10px;
  }

  footer .col-md-4 {
    text-align: center;
    }*/

    .footer-right-section .col-lg-4,
    .footer-right-section .col-lg-3,
    .footer-right-section .col-lg-2 {
      width: 50%;
    }

    footer .container:first-child {
      padding: 40px;
    }
  }

  /*INNER PAGE*/

  .inner-page .jumbotron {
    padding-top: 175px !important;
    padding-bottom: 165px !important;
    height: auto;

    background-color: #465DFF;
  }

  .inner-page .inner {
    background-color: #783BFF;
  }

  .inner-page h1 {
    font-family: "Poppins", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 82px;

    text-align: center;
    letter-spacing: -3px;

    color: #FFFFFF;
  }

  /*examples*/

  .examples {

    background-color: #EDEDED;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .last {
    padding-bottom: 120px;
  }

/*
.examples .col-lg-4:nth-child(6) {
  margin-top: -10px;
  margin-bottom: 20px;
}

.examples .col-lg-4:nth-child(7) {
  margin-top: 25px;
}

.examples .col-lg-4:nth-child(9) {
  margin-bottom: 23px;
}
*/

.examples .col-lg-4 {
  margin-bottom: 30px;
}

.examples .col-lg-4:last-child {
  margin-bottom: 0;
}

.examples .col-lg-4:nth-child(5) {
 margin-top: -25px;
}

.examples .col-lg-4:nth-child(6) {
 margin-top: -35px;
}

.examples .col-lg-4:nth-child(9) {
  margin-top: 10px;
}

.examples .intro {
  padding-top: 60px;
  margin-bottom: 40px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.examples .intro p {
 font-family: "Poppins", Arial, sans-serif;
 font-style: normal;
 font-weight: normal;
 font-size: 16px;
 line-height: 24px;
 letter-spacing: -0.2px;
 color: #000000;
}

.examples .intro p:last-child {
  color: rgba(0, 0, 0, 0.4);
}

.examples img {
  width: 100%;
  height: auto;
}

/*Illustrations*/

.previews {
  padding-top: 100px;
  padding-bottom: 115px;

  background-color: #EDEDED;
}

.previews .col-lg-6 {
  margin-top: 30px;
}

.previews img {
  width: 100%;
}

.previews p {
  margin-left: 50px;

  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: -0.5px;
  color: #000000;
}


/*VIEWPORTS*/


@media only screen and (max-width: 1199px) {
 /*
  h1 {
    font-size: 91px;
    line-height: 91px;
  }

  h1 span {
    font-size: 91px;
    line-height: 91px;
  }
/*
 .header-buttons {
   margin-top: 35px;
 }
 */
 /*
 .header-buttons .btn {
  max-width: 150px;
  font-size: 17px;
}
*/
.advantages strong {
  margin-top: 20px;
  padding: 0;

  font-size: 21px;
  line-height: 31px;
}

.layouts {
  background-position-x: -650px;
  background-size: 2400px;
}

.customization .large-img {
  margin-top: -200px;
}

.customization .small-img {
  margin-bottom: -100px;
}
/*
.advantages .btn {
  font-size: 17px;
  }*/

  .board .plans .content {
    min-width: 310px;
    min-height: 575px;
  }

  .board .first-plan:after {
    top: 30px;
  }

  .board .plans .col-lg-8 .content {
    min-width: 315px;
    min-height: 580px;
  }

  .board .btn {
    font-size: 18px;
  }

  .bonus-pack h2 {
    padding: 0 100px;
  }

  .subscribe .large-article {
    font-size: 42px;
    line-height: 50px;
  }

  .subscribe {
    padding-top: 420px;
    padding-bottom: 70px;
  }

  .company:last-child {
    margin-left: 0;
  }

  /*inner-page*/

  /*
  .examples {
    padding-bottom: 60px;
  }*/

  .examples img {
    width: 100%;
    height: auto;
  }

  .inner-page h1 {
    font-size: 65px;
    line-height: 75px
  }

  /*illustrations*/

  .previews p {
    font-size: 30px;
    line-height: 44px;
  }

}

@media screen and (max-width: 991px) {

  h1 {
    font-size: 91px;
    line-height: 91px;
  }

  h1 span {
    font-size: 91px;
    line-height: 91px;
  }
/*
 h1 {
  font-size: 70px;
  line-height: 75px;
}

h1 span {
  font-size: 70px;
  line-height: 75px;
}
/*
strong {
 font-size: 14px;
 line-height: 23px;
}
*/
h2 {
  margin-top: 75px;
  margin-bottom: 25px;

  font-size: 60px;
  line-height: 72px;
}

h3 {
  font-size: 32px;
  line-height: 50px;
}

.header-buttons {
  margin-top: 45px;
}

.header-buttons .btn {
  font-size: 17px;
}

.row-list .row-item {
  margin-bottom: 50px;
}

.row-list .row-item:nth-child(2) strong,
.row-list .row-item:nth-child(4) strong,
.row-list .row-item:nth-child(5) strong {
  width: 150px;
}

.row-list {
  padding-top: 40px;
}

.advantages {
  padding-bottom: 320px;
}

.small-img .col-md-6 {
  margin-bottom: 30px;
}

.small-img .col-md-6:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.navbar .first-item {
  margin-left: 0;
}

.nav-item {
  margin-bottom: 7px;
}

.nav-item:last-child {
  margin-bottom: 0;
  margin-top: 15px;
}

.navbar .nav-link {
  margin-right: 0;
}

header .navbar-nav {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;

  padding: 30px;

  width: 150px;
  background-color: #FFFFFF;
  border-radius: 5px;

}

header .navbar-nav .nav-link-last {
  width: 95px;
}

header .navbar-toggler {
  padding: 0;
  width: 30px;
  height: 30px;

  background-color: transparent;
}

.header-buttons .btn {
  height: 50px;

  line-height: 52px;
}

.navbar .nav-link {
  width: 110px;
  padding: 0 8px !important;

  font-size: 15px;
  color: rgba(0, 0, 0, 0.5) !important;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus,
.navbar .nav-link:active {
  color: rgba(0, 0, 0, 1) !important;
}

.navbar .nav-link-last {
  color: #ffffff !important;
}

.navbar .nav-link-last:hover,
.navbar .nav-link-last:focus,
.navbar .nav-link-last:active {
  color: rgba(255, 255, 255, 1) !important;
}

.layouts {
  background-position-x: -750px;
  background-size: 2200px;
}

.board .plans {
  margin-top: 50px;
  margin-bottom: 60px;

  -webkit-box-orient: vertical;

  -webkit-box-direction: normal;

  -ms-flex-direction: column;

  flex-direction: column;
}

.board .btn {
  font-size: 20px;
}

.board .plan {
  min-height: auto;
  margin-bottom: 30px;
}

.board .col-lg-8 + .plan {
  margin-bottom: 0;
}

.board .plan-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: none;
}

.board .first-plan:after {
  display: none;
}

.board .plans .col-lg-8 .content {
  min-height: 540px;
  width: 100%;
  max-width: 590px;
}

.board .plans .content {
  min-height: 540px;
  width: 100%;
  max-width: 590px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.bonus-pack {
  padding-bottom: 235px;
}

.subscribe {
  padding-top: 360px;
}

.examples .col-lg-4 {
  margin-top: 0 !important;
}

.company:nth-child(2),
.company:nth-child(3),
.company:nth-child(4) {
  max-width: 100%;
}

/*inner-page*/

.inner-page h1 {
  font-size: 58px;
  line-height: 70px;
}
 /*
.examples {
  padding-bottom: 60px;
}
*/
.examples .col-lg-4:nth-child(5) {
 margin-top: 0;
}

.examples .col-lg-4:nth-child(6) {
 margin-top: 0;
}

.examples .col-lg-4:nth-child(9) {
 margin-top: 0;
}

.examples .col-lg-4 {
  margin-bottom: 30px !important;
}

.examples .col-lg-4:nth-last-child(-n+2) {
  margin-bottom: 0 !important;
}

.examples .intro {
    padding-top: 30px;
}

.grid {
  -webkit-column-count: 2 !important;
  -moz-column-count: 2 !important;
  column-count: 2 !important;
}

.grid-item {
    display: inherit !important;
}

}

@media screen and (max-width: 767px) {

 h1 {
  font-size: 80px;
  line-height: 80px;
}


h1 span {
  font-size: 80px;
  line-height: 80px;
}

h2 {
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 58px;
  line-height: 68px;
}

.advantages h2 {
  margin-top: 90px;
}

.header-buttons .btn {
  padding: 0 7px;
}


.advantages strong {
  font-size: 20px;
  line-height: 32px;
}

.bonus-pack .btn {
  margin-top: 90px;
}

/*
.header-buttons .btn:nth-child(2) {
  margin-top: 15px;
}
*/

.layouts {
  background-position-x: -750px;
}

.promo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.promo .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;

  width: auto;
}

.row-list .row-item:nth-child(6) strong {
  width: 170px;
}

.bonus-pack h2 {
  padding: 0 40px;
}

/*
.scroll-link {
  display: none;
}
*/
.advantages {
  padding-bottom: 195px;
}

.customization .large-img {
  margin-top: -100px;
}

.customization .small-img {
  margin-top: 60px;
}

.board .plan {
  padding-right: 25px;
  padding-left: 25px;

  min-height: 500px;
}

.board .plans .content {
  min-height: 580px;
}

.board .col-lg-8 {
  padding: 0;
}

.board .btn {
  padding: 0 8px;
}

.subscribe .form-control {
  max-width: 100%;
  margin-bottom: 11px;
}

.subscribe .form-row {
  padding: 0 45px;
}

.subscribe .btn {
  max-width: 100%;
}

/*inner*/
.bonus-pack h2 {
  padding: 0 40px;
}

/*illustrations*/

.previews {
  padding-top: 60px;
  padding-bottom: 60px;
}

}

@media only screen and (max-width: 767px) {


}

@media screen and (max-width: 720px) {


}

@media screen and (max-width: 575px) {
 /*
  h1 {
    font-size: 52px;
    line-height: 60px;
    letter-spacing: -2.4px;
  }


  h1 span {
    font-size: 52px;
    line-height: 60px;
    letter-spacing: -2.4px;
  }

  strong {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 2.6px;
  }

  */
  .container {
    padding: 0 20px;
  }

  .header-container {
    padding: 0 15px;
  }

  h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 60px;
  }

  .nav .nav-link {
    padding: 3px 13px;
    font-size: 16px;
    line-height: 21px;
  }

  .nav .nav-link-last {
    padding: 6px 13px;
  }

  .nav  {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    padding: 10px 50px;
  }

  .nav .nav-link {
    margin-right: 0;
  }

  .nav-item {
    margin-left: 0 !important;
  }

  /*
  .header-buttons {
    flex-direction: column;
    align-items: center;
}

  .header-buttons .btn {
    max-width: 45%;

    padding: 6px 13px;
    font-size: 16px;
    line-height: 24px;
  }

  .header-buttons .btn:nth-child(2) {
    margin-top: 5px;
  }
  */
/*
  .header-buttons .btn {
    padding: 0 4px;
    max-width: 90px;

    font-size: 12px;
  }
  */
  .layouts {
    min-height: 1600px;
    background-position-x: -800px;
    background-size: 2100px;
  }

  .subscribe .large-article {
    font-size: 33px;
    line-height: 43px;
  }

  .board h2 {
    margin-top: 60px;
    margin-bottom: 0;
  }

  .grid {
    max-height: initial;

    -webkit-column-count: 1 !important;

    -moz-column-count: 1 !important;

    column-count: 1 !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .grid-item {
    display: block !important;
  }

  .grid-item:last-child {
    margin-bottom: 0;
  }

  /*illustrations*/

  .previews p {

    margin-left: 10px;

  font-size: 30px;
  line-height: 40px;
}

.last {
  padding-bottom: 50px;
}

}

@media screen and (max-width: 550px) {
 h1 {

  font-size: 52px;
  line-height: 60px;
  letter-spacing: -2.4px;
}


h1 span {
  font-size: 52px;
  line-height: 60px;
  letter-spacing: -2.4px;
}

strong {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 2.6px;
}

.header-container {
  padding: 0 25px;
}

.header-buttons {
  margin-top: 50px;

  -webkit-box-orient: vertical;

  -webkit-box-direction: normal;

  -ms-flex-direction: column;

  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-buttons .btn-wrapper:first-child {
  margin-right: 0;
  margin-bottom: 10px;
}

.header-buttons .btn{
  max-width: 100% !important;
  height: 50px !important;

  padding: 0 6px;
  font-size: 18px;
  line-height: 50px;
}

.header-buttons .btn:nth-child(2) {
  margin-top: 15px;
}

.header-buttons .btn-orange {
  margin-right: 0;
}

/*inner-page*/

.inner-page h1 {
  padding: 0 10px !important;
  font-size: 45px;
  line-height: 60px;
}

}



/*
@media screen and (max-width: 510px) {

  .header-buttons {
    margin-top: 50px;

    flex-direction: column;
    align-items: center;
  }

  .header-buttons .btn{
    max-width: 100% !important;
    height: 50px !important;

    padding: 0 6px;
    font-size: 18px;
    line-height: 50px;
  }

  .header-buttons .btn:nth-child(2) {
    margin-top: 15px;
  }

}

*/

@media screen and (max-width: 475px) {

  h2 {
    padding: 0 15px;
    margin-top: 40px;
    margin-bottom: 20px;

    font-size: 40px;
    line-height: 50px;
    letter-spacing: -2px;
  }

  .customization .small-img {
    margin-top: 40px;
  }

  .inner h3 {
    padding-right: 20px;

    font-size: 25px;
    line-height: 35px;
  }

  .layouts {
    background-position-x: -900px;
  }
}


@media screen and (max-width: 450px) {

  .footer-right-section .col-lg-4,
  .footer-right-section .col-lg-3,
  .footer-right-section .col-lg-2 {
    width: 100%;
  }

  .footer-right-section .col-lg-2:last-child {
    margin-bottom: 0;
  }

  footer .container:first-child {
    padding: 30px;
    text-align: center;
  }

  .company-descr {
    padding-right: 0;
  }

  .copyright-text {
    margin-top: 0;
  }

}

@media screen and (max-width: 425px) {

  .row-list .row-item {
    padding: 0 10px !important;
  }

  .advantages strong {
    font-size: 18px;
    line-height: 31px;
  }
  /*
  .advantages .btn {
    padding: 0 5px;
    font-size: 16px;
    }*/
  }


  @media only screen and (max-width: 375px) {

   h2 {
    margin-top: 30px;

    font-size: 32px;
    line-height: 42px;
  }

  .previews p {
    font-size: 20px;
    line-height: 35px;
  }

}

/*grid*/

.grid {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  -webkit-column-fill: initial;
  -moz-column-fill: initial;
  column-fill: initial;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-auto-flow: row;
}

.grid-item {
  vertical-align: middle;
  display: inline;
}

.grid-item img {
  width: 100%;
  margin-bottom: 30px;

  border-radius: 5px;
}





